img {
  width: 100%;
  height: 100%;
}
.imgCont {
  width: 300px;
  height: 400px;
}
p {
  width: 300px;
}
li {
  list-style-type: none;
  margin-left: 15px;
}
.themeDiv,
.questionsDiv {
  display: flex;
}

.divRega {
  background-image: url(https://pic.rutubelist.ru/video/aa/ce/aace198df3f7dc90d24fe5697ef1e934.jpg);
  background-repeat: no-repeat;
  
}
.divCard{
  margin-left: 10px;
}
